* {
    padding: 0px;
    margin: 0px;
    /*background-color: rgba(171, 184, 142, .4);*/
    box-sizing: border-box;
    /*transform-style: preserve-3d;*/
     image-rendering: pixelated !important;
     border: 0px !important;
}


a {
    display: block;
    height: 100%;
    text-decoration: none;
    text-align:left;
    color: inherit;
}


a:hover, h1:hover{
    /*text-decoration: underline;*/
    cursor: pointer;
}

#intro #home h1 {
    /*text-transform: uppercase;*/
    font-weight: bold;
    font-size: 4.7em;
    /*letter-spacing: 1.8;*/

}


p {
line-height: 1.2;
}



body {

    width: 100vw;
    height: 100vh;
    z-index: 0;
    position: relative;
    padding:0em 3em;
    
    background-color: #fbdb65;
    /*background-image: linear-gradient(black, #111120, #242440, #352f53);*/
    color: black;
    font-family: 'YoungSelrif', 'Archivo', arial, sans-serif;
    /*font-weight: bold;*/
    overflow-x: hidden;
    border:1px solid black;

}


#intro  {

    transition: .3s ease-out;

    font-size: 2vw;
    text-align:	left;


    border: 2px solid blue;
    height: 35vh;
    width: 100%;
    top: 0%;
}

.forSticky {
    width: 100%;
    min-height: 100vh;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 0em;
}

.BG {
    /*flex-grow: 7;*/
    /*width: 72vw;*/
    /*height: 45vh;*/

    width: 100%;
    height: 100%;
    /*background-color: aqua;*/
    
    /*padding: 3em;*/
    /*padding-top: 20vh;*/
    border: 2px solid red;
    
    position: relative;
    /*top: 50%;
    left: 50%;*/


    display: flex;
    align-items:center;
    justify-content: center;

    flex-direction: column;
    transform-style: preserve-3d;
    
    perspective: 900px;
    /* perspective on hover*/
    transition: .8s; 
}


.perspective {
    perspective: 550px;
}

.container {
    transform-style: preserve-3d;
}




.item{
    width: 100%;
    border: 2px solid green;


    display: flex;
    align-items:center;

    justify-content: space-between;
    flex-direction: row;
    transform-style: preserve-3d;
}



.cube {
  width: 10em;
  height: 10vh;
  border: 1px solid black;
  transform-style: preserve-3d;
  transition: .5s ease-out;
  /*color: white;*/
  margin-right: 2em;
}


.hover{
    transform: 
        translateZ(3em)
        scale(1.3) !important; 
        /*background-color: orange;*/
}

.intro.cube:hover{
/*	content: "chashdf";
    position: absolute;
    top: -20%;
    text-align: center;*/
    color: white;

}

nav a:hover p {
    text-decoration: underline;
    text-decoration-color: black;
}


.null:hover {
    cursor: default;
}



.gif {

     background-image: url('img/tv/noise_px.gif');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    

    display: flex;
    align-items: center;
    justify-content: center;

}


.side {

    transform-style: preserve-3d;
    position: absolute;
    /*width: 10em;*/
    /*height: 8em;   */
    background-size: 100% 100%;
    text-align: center;

}

div.side.front.gif h2	{
    color: white;
    opacity: .5;
    transition: .5s;
}

.evidence {
    opacity: 1 !important;
}


@keyframes bou {
    0% {transform: scale(0);}
    99% {transform: scale(1.2);}
    100% {transform: scale(1);}
}

@font-face {
    font-family: 'YoungSerif';
    src: url("font/YoungSerif-Regular.otf");
}

.barrato {
    text-decoration: line-through;
}

.under, .more:hover, .card a:hover{
    text-decoration: underline;
}

.selected {
    transform: translateX(1.2em);
    /*text-decoration: underline;*/
    font-weight: bold !important;
}

.selected::before, .more::before{

    content: ' ';
    width: 2rem;
    height: 2rem;

    margin-right: 1rem;
    background-image: url("img/rightA.png");
    background-repeat: no-repeat;

    display: inline-block;
    position: absolute;	
     left: -1.2em;

}

ul {
    z-index: 8000;
    /*padding: 2em;*/
    list-style: none;
}

li {
    width: fit-content;
    height: 2rem;
    margin-bottom: 1.5rem;
}

h2:not(.home), h5 {
    font-weight: normal;
    font-size: 2rem;
    transition: .5s;
}


/* MEDIA QUERIES */
@media screen and (max-width: 800px) {

    body {
        background-color: rgba(128, 0, 128, .4);
        overflow-y: visible;
        justify-content: flex-start;
        height: auto;
        perspective: none;
        font-size: 1.2em;
    }

    body div {
        visibility: hidden;
    }

    body::before {
        display: block;
        content: "Sorry, desktop needed!";
        font-size: 3em;
        margin: 3em;
    }
}



